:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
}

#logo {
  padding-left: 1rem;
}

ul {
  list-style-type: none;
}

.popup {
display:none;
  border: 1px solid black;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  position: absolute;
  z-index: 100000;
  width: 20rem;
  height: 30rem;
  background-color: white;
  opacity: 100% !important;
}
.popup-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  
}


#battle-scene {
  border: 2px solid black;
  justify-content: center;
  display:none;
  align-items: center;
  width:40rem;
  height:30rem;
  z-index: 100000000;
  position: absolute;
  top: 10rem;
  border-radius:10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: white;
  right: 26.9rem;
  display: hidden;
}


#library {
  display: flex;
  border: 1px solid black;
  width: 50rem;
  height: 40rem;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: visible;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.poke-name {
  font-size: 1rem;
}

.popup-card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* More styling as needed */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  /* More styling as needed */
}
